# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Visual Studio .vs folder
.vs/

# Ignore all x64 folders recursively
x64/

# Ignore all Debug and Release folders recursively
Debug/
Release/

# Alternatively, if you want to ignore Debug and Release under any architecture (e.g., x64/Debug, x86/Release)
*/Debug/
*/Release/